.App {
  background-color: rgb(235, 231, 231);
}

/* header styles */
.headerHolder{
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fafafa;
  border-bottom: 1px solid lightgray;
}
.app__header {
  align-items: center;
  width: 100vw;
  display: flex;
  padding: 10px;
  width: 1128px;
  
  margin-left: auto;
  margin-right: auto;
  
}

.app_headerImage{
  /* padding: 10px; */
  height: 56px;
}

.signout_block {
  color: grey;
  margin-left: auto; 
  margin-right: 0;
}

.signoutAvatar {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.mail{
  margin-right: 10px;
}

.searchBar {
  margin-left: 20px;
}


/* body styles */
.app__body {
  display: flex;
  width: 1128px;
  margin-left: auto;
  margin-right: auto;
  z-index: 100;
  min-height: 100%;
  margin-top: 20px;
  
}

.left__bar{
  display: flex;  
  flex-grow: 1;
  min-height: 100%;
  margin-bottom: 20px;  
  
}

.app_profileImage {
  cursor: pointer;
  margin: 20px 20px 5px 20px;
  width: 175px;
  border-radius: 5px;
}

.displayName{
  margin-left: 20px;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
}

.displayName:hover{
  border-bottom: 2px solid rgb(32, 30, 30);
}

.app_midline {
  width: 100%;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  display: flex;
}

.right__menu {
  margin-right: 20px;
  min-width: 225px;
  background-color: white;
  border-radius: 10px;
  /* position: sticky;
  top: 0; */
}

.family_heading {
  font-weight: bold;
  margin-bottom: 10px;
}

.formtofill {
  /* width: 400px;
  height: 400px; */
  /* background-color: blue; */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
  height: 40%;
  z-index: 100;
  /* margin: 20px; */
}

.newGroup_form {
  margin: 20px;
  display: block;
}

.newGroupSumbit{
  border-radius: 3px;
  padding: 3px;
}

.newGroup_form label {
  font-weight: bold;
}


.newGroup_button{
  margin-left: 20px;
  position: absolute;
  bottom: 0px;
  right: 20px;
}

.newGroupInputField {
  border: 1px solid darkgray;
  border-radius: 3px;
  margin-top: 20px;
  margin-right: 20px;
  padding: 3px;
}



.app__sidebar {
  max-width: 240px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex; 

}

.app__rightbar {
  /* max-width: 400px;
  
  /* margin-left: auto; 
  margin-right: 0; */
  /* position: absolute;
  right: 0px; */
  min-width: 225px; 
  background-color: white;
  margin-left: 20px;
  margin-bottom: 20px; 
  border-radius: 10px;
}

.familyAvatar {
  display: flex; 
  padding-bottom: 30px;
  border-bottom: 3px dotted #bbb;
}

.groupProjects {
  padding-left: 30px;
  list-style-type: circle;
}


.app__adds {
  
  text-align: center;
  padding: 80px;
  min-width: 300px;
}

.post__headertext {
  color: grey;
  margin-top: 20px;
}

.app__members {
  padding: 20px;
}

.group_list{
  margin-left: 10px;
  cursor: pointer;
  margin-bottom: 20px;
}


.timeline_general {
  display: flex;
  vertical-align: middle;
  align-items: center;
}

.timeline_year{
  background-color: aquamarine;
  min-width: 100px;
  max-height: 50px;
  
  padding: 20px;
  margin: 20px;
}

.timeEvent_main{
  background-color: burlywood;
  min-height: 200px;
  max-width: 200px;
  padding: 10px;
  
}

.timeEvent_heading{
  font-weight: bold;
}

.timeEvent_image{
  max-width: 100px;
  /* float: left; */
  margin: 10px;
}

.event__name{
  border: 1px solid #d66;
}

.event__date{
  border: 1px solid #d66;
}



