.App {
  background-color: rgb(235, 231, 231);
}

/* header styles */
.headerHolder{
  background-color: #fafafa;
  border-bottom: 1px solid lightgray;
}
.app__header {
  align-items: center;
  width: 100vw;
  display: flex;
  padding: 10px;
  width: 1128px;
  
  margin-left: auto;
  margin-right: auto;
  
}

.app_headerImage{
  /* padding: 10px; */
  height: 56px;
}

.signout_block {
  color: grey;
  margin-left: auto; 
  margin-right: 0;
}

.signoutAvatar {
  cursor: pointer;
}

.searchBar {

  margin-left: 20px;
  
  /* height: 80px; */
}


/* body styles */
.app__body {
  display: flex;
  width: 1128px;
  margin-left: auto;
  margin-right: auto;
  z-index: 100;
  min-height: 100%;
  margin-top: 20px;
  
}

.left__bar{
  display: flex;  
  min-height: 100%;
  margin-bottom: 20px;  
  
}

.app_profileImage {
  cursor: pointer;
  margin: 20px 20px 5px 20px;
  width: 175px;
}

.displayName{
  margin-left: 20px;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
}

.displayName:hover{
  border-bottom: 2px solid rgb(32, 30, 30);
}

.app_midline {
  background-color: white;
}

.right__menu {
  margin-right: 20px;
  width: 225px;
  background-color: white;
}

/* .global-nav__content {
  align-items: center;
  display: flex;
  margin: 0 auto;
  min-height: 100%;
  width: 1128px;
  }
   */


.newGroup_button{
  margin-left: 200px;
}

.newGroup {
  border: 1px solid #d66;
}





.app__sidebar {
  max-width: 240px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex; 

}

.app__rightbar {
  /* max-width: 400px;
  min-width: 200px; */
  /* margin-left: auto; 
  margin-right: 0; */
  background-color: white;
  margin-left: 20px;
  margin-bottom: 20px; 
}

.familyAvatar {
  display: flex; 
  padding-bottom: 30px;
  border-bottom: 3px dotted #bbb;
}

.groupProjects {
  padding-left: 30px;
  list-style-type: circle;
}


.app__adds {
  
  text-align: center;
  padding: 80px;
  min-width: 300px;
}

.post__headertext {
  color: grey;
  margin-top: 20px;
}

.app__members {
  padding: 20px;
}

.group_list{
  background-color: #d66;
  cursor: pointer;
}


.timeline_general {
  display: flex;
  vertical-align: middle;
  align-items: center;
}

.timeline_year{
  background-color: aquamarine;
  min-width: 100px;
  max-height: 50px;
  
  padding: 20px;
  margin: 20px;
}

.timeEvent_main{
  background-color: burlywood;
  min-height: 200px;
  max-width: 200px;
  padding: 10px;
  
}

.timeEvent_heading{
  font-weight: bold;
}

.timeEvent_image{
  max-width: 100px;
  /* float: left; */
  margin: 10px;
}

.event__name{
  border: 1px solid #d66;
}

.event__date{
  border: 1px solid #d66;
}