.button_signout {
    background-color: red;
}

.button {
    background-color: aqua;
}

.form {
    background-color: bisque;
}

.googleButton {
    background-color: red;
}

.link {
    color: blue;
}

.archiveImage {
    max-width: 200px;
}

